.page-content {
    margin: 4%;
}
.page-content header {
    margin-top: 5%;
    max-width: 80%;
}
.page-content header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    font-size: 2vw;
}
.page-content .presentation-image {
    margin-top: 5%;
}
.page-content .presentation-image img {
    max-width: 100%;
    height: auto;
}

.page-content .projects-section {
    margin-top: 6%;
}
.page-content .projects-section div {
    display: flex;
    flex-wrap: wrap;
}
.page-content .projects-section div div {
    margin-right: 50px;
    max-width: 195px;
}
.page-content .projects-section div div h4 {
    margin: 0;
}
